@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppons', sans-serif;
    margin:0;

}

.navbar{
    width:100%;
    height: 15vh;
    margin:auto;
    display:flex;
    align-items: center;
    background-color: rgb(114, 14, 14);
    

}



nav{
    flex:1;
    padding-left: 60px;
    

    
    

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
                
                
}

nav ul li a{
    text-decoration: none;
    color: white;

    
}

table{
    width: 90%;
    margin-top: 2em;
    margin-left: 3em;
}

.text{
    color: rgb(114, 14, 14);
    margin-left: 15em;
    margin-right: 15em;
    
}

.text h2{
    font-size: 4em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}


.text p{
    font-size: 1.1em;
    font-weight: 400;
    max-width: 800px;
    
}
    
